.fileList{
    display: flex;
    flex-direction: row;
    background-color: #f55e3038;
    border-radius: 5px;
    margin-top: 1.5em;
    padding: 1.5em;
    align-items: center; 

    svg{
        color: #f55321;
        cursor: pointer;

        &:first-child{
            font-size: 1.2em;
            margin-right: 0.8em;
        }
        
    }

    p{
        flex: 1;
    }
}