.title{
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.2rem;
    text-align: center;
} 
.App{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  /* min-height: 100vh; */
  padding: 70px;
}

@media (max-width:430px){
    .App{
        padding: 20px;
    }
}