*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh; 
  padding: 200px;
} */

.header{
  text-align: center;
  padding: 1rem;
  box-shadow: 3px 3px 3px black ;
}

